* {
    margin: 0;
    background-color: hsl(184, 44%, 13%);
    color: hsl(0, 0%, 100%);
}

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.page-1 {
    /*display*/
    display: grid;
    place-content: center;
    /*positioning*/
    min-height: 50vh;
    /*typography*/
    text-align: center;
    /*msc*/
}

.page-1 h3 {
    color: hsl(0, 0%, 85%);
}

.page-1 h4 {
    color: hsl(0, 0%, 85%);
}

.page-1 i {
    color: hsl(0, 0%, 100%);
}

.profile-icons {
    /*display*/
    display: flex;
    justify-content: space-evenly;
    /*box model*/
    padding: 1em;
}

.profile-icons a {
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profile-icons i {
    /*typography*/
    font-size: 1.6rem;
}

.project-btn {
    /*box model*/
    padding: 1em;
    /*msc*/
    border: 1px solid hsl(0, 0%, 85%);
}

.project-btn a {
    /*typography*/
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.page-2, .page-3, .page-4 {
    /*display*/
    display: grid;
    place-content: center;
    /*positioning*/
    min-height: 50vh;
}

.page-3, .page-4 {
    margin-top: 3em;
}

.page-2 h1, .page-3 h1, .page-4 h1 {
    font-size: 2.5rem;
    text-align: center;
}