* {
    margin: 0;
    background-color: hsl(184, 44%, 13%);
    color: hsl(0, 0%, 100%);
}

.main-nav i {
    /*box model*/
    padding: 0.5em;
    /*msc*/
    font-size: 2em;
    color: hsl(0, 0%, 100%);
}

.side-nav {
    /*positioning*/
    height: 100%;
    width: 0;
    position: fixed;
    /*msc*/
    z-index: 1;
    /*background-color: hsl(185, 43%, 18%);*/
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.7s;
}

.side-nav a {
    /*display*/
    display: block;
    /*box model*/
    padding: 1em 1em 1em 3em;
    /*typography*/
    text-decoration: none;
    font-size: 1.3rem;
    color: hsl(0, 0%, 100%);
    transition: 0.3s;
}

.side-nav .btn-close {
    /*box model*/
    margin-left: 1em;
    /*typography*/
    font-size: 2.5em;
    font-weight: bold;
}