* {
    margin: 0;
    background-color: hsl(184, 44%, 13%);
    color: hsl(0, 0%, 100%);
}

.page-1 {
    /*box model*/
    margin-top: 4em;
    /*typography*/
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /*msc*/
}

.page-1 h3 {
    color: hsl(0, 0%, 85%);
}

.page-1 h4 {
    color: hsl(0, 0%, 85%);
}

.page-1 i {
    color: hsl(0, 0%, 100%);
}

.profile-icons {
    /*display*/
    display: flex;
    justify-content: space-evenly;
    /*box model*/
    padding: 1em;
}

.profile-icons i {
    /*typography*/
    font-size: 1.6rem;
}